<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
  <title>WalletBee</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/vendor.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <defs>
    <symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">
      <path fill="currentColor" d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="category" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
      <path fill="currentColor" d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 24 24">
      <path fill="currentColor" d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="check" viewBox="0 0 24 24">
      <path fill="currentColor" d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="trash" viewBox="0 0 24 24">
      <path fill="currentColor" d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
      <path fill="currentColor" d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
      <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24">
      <path fill="currentColor" d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">
      <path fill="currentColor" d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z"/>
    </symbol>
  </defs>
</svg>

<div class="gradient-background">

  <div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
  <div class="offcanvas-header justify-content-center">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">Growers cider</h6>
            <small class="text-body-secondary">Brief description</small>
          </div>
          <span class="text-body-secondary">$12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">Fresh grapes</h6>
            <small class="text-body-secondary">Brief description</small>
          </div>
          <span class="text-body-secondary">$8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">Heinz tomato ketchup</h6>
            <small class="text-body-secondary">Brief description</small>
          </div>
          <span class="text-body-secondary">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$20</strong>
        </li>
      </ul>

      <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch" aria-labelledby="Search">
  <div class="offcanvas-header justify-content-center">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Search</span>
      </h4>
      <form role="search" action="index.html" method="get" class="d-flex mt-3 gap-0">
        <input class="form-control rounded-start rounded-0 bg-light" type="email" placeholder="What are you looking for?" aria-label="What are you looking for?">
        <button class="btn btn-dark rounded-end rounded-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<header>
  <div class="container-fluid">
    <div class="row py-3 border-bottom">
      <ul class="d-flex align-items-center list-unstyled m-0">
        <li class="me-auto">
          <a href="">
            <img src="images/walletbee.png" alt="logo" class="img-fluid" style="width:170px; height: auto;">
          </a>
        </li>
        <!-- <li class="hello" style="color:black ;margin-right: 20px;">
          김위비님
        </li> -->
        <li>
          <!-- 로그인 모달을 트리거하는 링크 -->
          <a class="rounded-circle bg-light p-2 mx-1" th:href="@{/loginMain}">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <use xlink:href="#user"></use>
            </svg>
          </a>
        </li>
        <li>
          <a th:href="@{/logout/result}" class="rounded-circle bg-light p-2 mx-1"
             th:if="${not #strings.isEmpty(session.userId2)}">
            <img src="images/out.png" alt="outImage" style="width:24px; height:24px;">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row py-5" style="background: linear-gradient(to right, rgba(166, 229, 177, 0.4), rgba(131, 202, 223, 0.6));"
         th:if="${not #strings.isEmpty(session.userId2)}">
      <h3 class="section-title" style="margin-top: 100px; margin-bottom: 100px"><span th:text="${session.userId2}"></span> 님, 안녕하세요 !</h3>
    </div>

  </div>
</header>

<section class="py-1" style="background-repeat: no-repeat; background-size: cover;">
  <div class="container-fluid">
    <h5 class="section-title">나만의 캐릭터</h5>
    <div class="row justify-content-center" style="margin-top: 30px;">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="banner-blocks">
          <div class="banner-ad large bg-info block-1" style="width: 100%; height: auto; max-width: 400px;">
            <div th:if="${not #strings.isEmpty(session.userId2)}">
              <img th:src="'data:image/png;base64,' + ${session.fastApiImage}" style="width: 100%; height: auto; object-fit: cover;">
            </div>
            <div th:if="${#strings.isEmpty(session.userId2)}">
              <img src="images/cat.png" style="width: 100%; height: auto; object-fit: cover;">
            </div>
          </div>
          <div class="banner-ad  block-2" style="background-position: right bottom; width: 400px; border: 2px dashed; border-color:#cb7f00;">
            <div class="row banner-content p-2">
              <div th:if="${not #strings.isEmpty(session.userId2)}">
                <div class="text" style="font-size: 20px;" th:text="${session.fastApiPrompt}"></div>
              </div>
              <div th:if="${#strings.isEmpty(session.userId2)}">
                <div class="text" style="font-size: 20px;">당신은 호기심 많은 고양이입니다!🐱🔍</div>
              </div>

            </div>
          </div>
          <div class="banner-ad block-3" style="background-position: right bottom; width: 400px; border: 2px dashed; border-color:#cb7f00">
            <div class="row banner-content p-2">
              <!-- <div class="categories sale mb-1 pb-1">목표 설정</div> -->
              <div class="content-wrapper col-md-7">
                <!-- <h3 class="item-title fs-5">Baked Products</h3> -->
                <a href="dashboard.html" class="d-flex align-items-center nav-link">더보기<svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Carousel</title>
  <link rel="stylesheet" href="styles.css"> <!-- Link to the CSS file -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> <!-- Swiper CSS -->
</head>
<body>

<section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header d-flex justify-content-between mb-5">
          <h2 class="section-title">추천 카드 혜택</h2>
          <div class="d-flex align-items-center">
            <a href="#" class="btn-link text-decoration-none">View All Cards →</a>
            <div class="swiper-buttons">
              <button class="swiper-prev brand-carousel-prev btn btn-yellow">❮</button>
              <button class="swiper-next brand-carousel-next btn btn-yellow">❯</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card-carousel swiper">
          <div class="swiper-wrapper">
            <!-- Swiper Slide 1 -->
            <div class="swiper-slide d-flex justify-content-around">
              <div class="card-box d-flex align-items-center">
                <img src="https://d1c5n4ri2guedi.cloudfront.net/card/115/card_img/20273/115card.png" alt="Card 1" class="card-image">
                <div class="card-info ms-3">
                  <h4 class="card-title">KB Good Day Card</h4>
                  <p class="card-benefit">편의점 적립률 3% 캐시백</p>
                </div>
              </div>
              <div class="card-box d-flex align-items-center">
                <img src="https://d1c5n4ri2guedi.cloudfront.net/card/51/card_img/37691/51card.png" alt="Card 2" class="card-image">
                <div class="card-info ms-3">
                  <h4 class="card-title">Shinhan Starbucks Card</h4>
                  <p class="card-benefit">스타벅스 10% 캐시백</p>
                </div>
              </div>
            </div>
            <!-- Swiper Slide 2 -->
            <div class="swiper-slide d-flex justify-content-around">
              <div class="card-box d-flex align-items-center">
                <img src="https://d1c5n4ri2guedi.cloudfront.net/card/2669/card_img/32807/2669card.png" alt="Card 3" class="card-image">
                <div class="card-info ms-3">
                  <h4 class="card-title">Hyundai Overseas Card</h4>
                  <p class="card-benefit">해외 결제 수수료 0%</p>
                </div>
              </div>
              <div class="card-box d-flex align-items-center">
                <img src="https://d1c5n4ri2guedi.cloudfront.net/card/49/card_img/27705/49card.png" alt="Card 4" class="card-image">
                <div class="card-info ms-3">
                  <h4 class="card-title">Asiana Mileage Card</h4>
                  <p class="card-benefit">항공 마일리지 적립</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="py-1 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h5 class="section-title">내 혜택은 어디에 ?</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="category-carousel">
          <div class="category-container">
            <a href="/category/store" class="nav-link category-item">
              <img src="images/bag.png" alt="Category Thumbnail">
              <h3 class="category-title">편의점</h3>
            </a>
            <a href="/category/cafe" class="nav-link category-item">
              <img src="images/coffee.png" alt="Category Thumbnail">
              <h3 class="category-title">카페</h3>
            </a>
            <a href="/category/gas" class="nav-link category-item">
              <img src="images/gas_station.png" alt="Category Thumbnail">
              <h3 class="category-title">주유소</h3>
            </a>
            <a href="/category/movie" class="nav-link category-item">
              <img src="images/movie.png" alt="Category Thumbnail">
              <h3 class="category-title">영화관</h3>
            </a>
            <a href="/category/mart" class="nav-link category-item">
              <img src="images/cart.png" alt="Category Thumbnail">
              <h3 class="category-title">마트</h3>
            </a>
            <a href="/category/search" class="nav-link category-item">
              <img src="images/search3.png" alt="Category Thumbnail">
              <h3 class="category-title">검색</h3>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section id="latest-blog" class="py-1">
  <div class="container-fluid">

    <div class="row">
      <h5 class="section-title" style="margin-bottom: 50px;">
        <span th:text="${not #strings.isEmpty(session.userId2) ? session.userId2 : '사용자'}"></span> 님 추천 뉴스 - 생활경제
      </h5>
    </div>
    <div class="row">
      <!-- newsList의 뒤에서 3개를 가져오도록 설정 -->
      <div class="col-md-4" th:each="news, iterStat : ${news2List}">
        <article class="post-item card border-0 shadow-sm p-3"
                 th:if="${iterStat.index >= news2List.size() - 3}">
          <div class="card-body">
            <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
              <div class="meta-categories">
                <svg width="16" height="16"><use xlink:href="#category"></use></svg>
                <span th:text="${news.pressSource}">언론사</span>
              </div>
            </div>
            <div class="post-header">
              <h3 class="post-title">
                <a th:if="${news.url != null}" th:href="${news.url}"
                   class="text-decoration-none" th:text="${news.title}">뉴스 제목</a>
              </h3>
              <p th:text="${news.summary.length() > 70 ? #strings.substring(news.summary, 0, 70) + '...' : news.summary}">
                요약 내용이 여기에 표시됩니다.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section id="latest-blog" class="py-1">
  <div class="container-fluid">

    <div class="row">
      <h5 class="section-title" style="margin-bottom: 50px;">
        <span th:text="${not #strings.isEmpty(session.userId2) ? session.userId2 : '사용자'}"></span> 님 추천 뉴스 - 금융
      </h5>
    </div>
    <div class="row">
      <!-- newsList의 뒤에서 3개를 가져오도록 설정 -->
      <div class="col-md-4" th:each="news, iterStat : ${newsList}">
        <article class="post-item card border-0 shadow-sm p-3"
                 th:if="${iterStat.index >= newsList.size() - 3}">
          <div class="card-body">
            <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
              <div class="meta-categories">
                <svg width="16" height="16"><use xlink:href="#category"></use></svg>
                <span th:text="${news.pressSource}">언론사</span>
              </div>
            </div>
            <div class="post-header">
              <h3 class="post-title">
                <a th:if="${news.url != null}" th:href="${news.url}"
                   class="text-decoration-none" th:text="${news.title}">뉴스 제목</a>
              </h3>
              <p th:text="${news.summary.length() > 70 ? #strings.substring(news.summary, 0, 70) + '...' : news.summary}">
                요약 내용이 여기에 표시됩니다.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>


<!-- <section class="py-5">
  <div class="container-fluid">

    <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('og_images/bg-leaves-img-pattern.png') no-repeat;">
      <div class="container my-5">
        <div class="row">
          <div class="col-md-6 p-5">
            <div class="section-header">
              <h2 class="section-title display-4">Get <span class="text-primary">25% Discount</span> on your first purchase</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
          </div>
          <div class="col-md-6 p-5">
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text"
                  class="form-control form-control-lg" name="name" id="name" placeholder="Name">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="abc@mail.com">
              </div>
              <div class="form-check form-check-inline mb-3">
                <label class="form-check-label" for="subscribe">
                <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                Subscribe to the newsletter</label>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark btn-lg">Submit</button>
              </div>
            </form>

          </div>

        </div>

      </div>
    </div>

  </div>
</section>



<section class="py-5 my-5">
  <div class="container-fluid">

    <div class="bg-warning py-5 rounded-5" style="background-image: url('og_images/bg-pattern-2.png') no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="og_images/phone.png" alt="phone" class="image-float img-fluid">
          </div>
          <div class="col-md-8">
            <h2 class="my-5">Shop faster with foodmart App</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus liberolectus nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna. Adipiscing fames semper erat ac in suspendisse iaculis. Amet blandit tortor praesent ante vitae. A, enim pretiummi senectus magna. Sagittis sed ptibus liberolectus non et psryroin.</p>
            <div class="d-flex gap-2 flex-wrap">
              <img src="og_images/app-store.jpg" alt="app-store">
              <img src="og_images/google-play.jpg" alt="google-play">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section> -->


<!-- <section class="py-5 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header d-flex flex-wrap flex-wrap justify-content-between mb-5">

          <h2 class="section-title">Newly Arrived Brands</h2>

          <div class="d-flex align-items-center">
            <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
            <div class="swiper-buttons">
              <button class="swiper-prev brand-carousel-prev btn btn-yellow">❮</button>
              <button class="swiper-next brand-carousel-next btn btn-yellow">❯</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="brand-carousel swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="card mb-3 p-3 rounded-4 shadow border-0">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="og_images/product-thumb-11.jpg" class="img-fluid rounded" alt="Card title">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body py-0">
                      <p class="text-muted mb-0">Amber Jar</p>
                      <h5 class="card-title">Honey best nectar you wish to get</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card mb-3 p-3 rounded-4 shadow border-0">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="og_images/product-thumb-12.jpg" class="img-fluid rounded" alt="Card title">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body py-0">
                      <p class="text-muted mb-0">Amber Jar</p>
                      <h5 class="card-title">Honey best nectar you wish to get</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card mb-3 p-3 rounded-4 shadow border-0">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="og_images/product-thumb-13.jpg" class="img-fluid rounded" alt="Card title">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body py-0">
                      <p class="text-muted mb-0">Amber Jar</p>
                      <h5 class="card-title">Honey best nectar you wish to get</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card mb-3 p-3 rounded-4 shadow border-0">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="og_images/product-thumb-14.jpg" class="img-fluid rounded" alt="Card title">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body py-0">
                      <p class="text-muted mb-0">Amber Jar</p>
                      <h5 class="card-title">Honey best nectar you wish to get</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card mb-3 p-3 rounded-4 shadow border-0">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="og_images/product-thumb-11.jpg" class="img-fluid rounded" alt="Card title">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body py-0">
                      <p class="text-muted mb-0">Amber Jar</p>
                      <h5 class="card-title">Honey best nectar you wish to get</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card mb-3 p-3 rounded-4 shadow border-0">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="og_images/product-thumb-12.jpg" class="img-fluid rounded" alt="Card title">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body py-0">
                      <p class="text-muted mb-0">Amber Jar</p>
                      <h5 class="card-title">Honey best nectar you wish to get</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->



<div id="footer-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 copyright">
        <p>© 2024 WalletBee. All rights reserved.</p>
      </div>
      <div class="col-md-6 credit-link text-start text-md-end">
        <p>Free HTML Template by <a href="https://templatesjungle.com/">TemplatesJungle</a></p>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>



<!-- Swiper Script -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.card-carousel', {
    slidesPerView: 1,
    spaceBetween: 10,
    navigation: {
      nextEl: '.swiper-next',
      prevEl: '.swiper-prev',
    },
  });
</script>

</body>
</html>